/* App.css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* // Override stream default styles */
.dark.str-chat .str-chat__message-simple-text-inner {
  background: #000000;
  color: #ffffff;
}

.str-chat-channel-list .str-chat__channel-list-messenger__main {
  background-color: #343434;
}
